html {
  background-color: white;
  color: black;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-image: url("./img/bg.jpg");
}

header, body {
  margin: 5%;
  text-align: center;
}

hr {
  fill:black
}

.node circle {
  fill: #fff;
  stroke: #931621;
  stroke-width: 1px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #326771;
  stroke-width: 2px;
}