html {
  background-color: white;
  background-position: 100%;
  background-size: contain;
  background-image: url("./img/bg.jpg");
  color: whitesmoke;
  font-family: 'Raleway';
}

header, body {
  margin: 5%;
  /*overflow: hidden;*/
  text-align: center;
  color: whitesmoke;
}

p{
  text-align: justify;
  font: 12px 'Raleway';
  color:whitesmoke;
}

hr {
  fill:black;
}

.node circle {
  fill: #aea097;
  stroke: crimson;
  stroke-width: 1px;
}

.node text {
  font: 10px 'Raleway';
  color:whitesmoke;
}

.text {
  color: whitesmoke;
}

.link {
  fill: none;
  stroke: whitesmoke;
  stroke-width: 1px;
}